.card-layout{
  height: calc(100vh - 80px);
  display: grid;
  place-items: center;
}


.card-container{
  background-color: white;
  margin-inline: auto;
  width: 100%;
  height: calc(100vh - 80px);
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr;
}


@media only screen and (min-width: 600px) {
  .card-container{
    background-color: white;
    margin-inline: auto;
    width: 600px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-rows: 1fr;
  }
}
