.nav-container{
background-color:#351A1A;
height:70px;
display: flex;
justify-content: space-between;
align-items: center;
padding:5px 20px;
}
.nav-title{
color:white;
font-size: 28px;
}
.nav-menu-icon-container{
color:white;
font-size: 28px;
cursor: pointer;
}
