.display-container{
  height: 100%;
  background-color: white;
}
@media only screen and (min-width: 600px) {
  .display-container{
    height: 100%;
    background-color: white;
  }
}


.score{
height: 40px;
display: flex;
justify-content: space-between;
align-items: center;
padding:30px 40px 0px 40px;
background-color: white;
}
.question{
height: calc(100% - 70px);
background-color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 30px;
}
