.choices-container{
  height: 100%;
  background-color: white;
}
@media only screen and (min-width: 600px) {
  .choices-container{
    height: 100%;
    background-color: white;
  }
}


.choices-div{
display: flex;
flex-direction: column;
height:80%;
grid-template-columns: 1fr;
align-items: center;
  .choice-container{
    margin-top: 30px;
    height: 40px;
    width: 80%;
    background-color: white;
    border:2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap:20px;
    cursor: pointer;
  }
}
.buttons-div{
height: 20%;
display: grid;
grid-template-columns: 1fr 2fr;
place-items: center;
  .submit-btn{
    background-color: #2C1B46;
    color:white;
    height: 50px;
    border-radius: 10px;
    width: calc(100% - 20px);
    text-align: center;
    display: grid;
    place-items: center;
    cursor: pointer;
  }

  .reset-btn{
    background-color: #A46F6F;
    color: white;
    height: 50px;
    border-radius: 10px;
    width: calc(100% - 20px);
    text-align: center;
    display: grid;
    place-items: center;
    cursor: pointer;
  }
}
