.choices-container{
  height: 100%;
  background-color: white;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .choices-container{
    height: 100%;
    width: 100%;
    background-color: white;
  }
}


.choices-div{
display: flex;
flex-direction: column;
height:80%;
background-color: white;
grid-template-columns: 1fr;
}



.buttons-div{
height: 20%;
display: grid;
grid-template-columns: 1fr 2fr;
place-items: center;
  .submit-btn{
    background-color: #2C1B46;
    color:white;
    height: 50px;
    border-radius: 10px;
    width: calc(100% - 20px);
    text-align: center;
    display: grid;
    place-items: center;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
  }

  .reset-btn{
    background-color: #A46F6F;
    color: white;
    height: 50px;
    border-radius: 10px;
    width: calc(100% - 20px);
    text-align: center;
    display: grid;
    place-items: center;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
  }
}



