<div class="choices-container">
  <div class="choices-div">
    <app-choice
      *ngFor="let choice of choices; let i = index"
      [index]="i"
      [choice]="choice"
      [answer]="answer"
      [selection]="selection"
      (choiceSelected)="choiceSelected($event)"
    >
    </app-choice>
  </div>
  <div class="buttons-div">
    <div id="reset-btn" class="reset-btn" (click)="handleReset()">reset</div>
    <div
      *ngIf="!isSubmitted"
      id="submit-btn"
      class="submit-btn"
      (click)="handleSubmit()"
    >
      submit
    </div>
    <div
      *ngIf="isSubmitted"
      id="continue-btn"
      class="submit-btn"
      (click)="handleContinue()"
    >
      continue
    </div>
  </div>
</div>
